.box {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: var(--box-background);
  border-radius: 16px;
  padding: 12px 16px 0;
  box-shadow: var(--box-shadows);
  color: #e1ecff;
  position: relative;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
}

.withControls {
  transform: translateY(-48px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.isDragging {
  cursor: grabbing;
}

.fields {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  height: 100%;
  min-height: 100%;
}

.title {
  font-size: 18px;
  line-height: 24px;
}

.progress {
  margin-bottom: 16px;
}

.controls {
  right: 48px;
  top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  border-radius: 16px;
  display: flex;
  background-color: var(--box-background-on-second-surface);
  box-shadow: var(--button-shadows);
  padding: 16px 12px;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 2;
  gap: 24px;
}

.addingFormBox {
  box-sizing: border-box;
  height: 100%;
}
