.box {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  background: var(--box-background);
  border-radius: 16px;
  padding: 16px 24px;
  box-shadow: var(--box-shadows);
  color: #e1ecff;
}

.box button {
  color: #e1ecff;
  border-radius: 12px;
  background: var(--button-background);
  box-shadow: var(--button-shadows);
}

.box button:hover {
  box-shadow: var(--button-shadows-hover);
}

.box button:active {
  box-shadow: var(--button-inner-shadows);
}

.isDragging {
  cursor: grabbing;
}

.fields {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  height: 100%;
}
