.modal-is-open {
  overflow: hidden;
}

.modal.is-skip-focus:focus,
.modal.is-skip-focus div:focus {
  outline: none;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.672);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

.modal-overlay.is-transparent {
  background-color: transparent;
}
