.box {
  display: flex;
  width: auto;
  max-width: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 24px;
  border-radius: 12px;
  background-color: var(--background);
  max-height: 80%;
  overflow-y: scroll;
  min-width: 420px;
}

.isOpen {
  overflow: hidden;
}

.isSkipFocus:focus,
.isSkipFocus div:focus {
  outline: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
}

@media (max-width: 580px) {
  .box {
    max-height: 90%;
    min-width: 90%;
  }
}
