.modal {
  flex-direction: column;
  position: relative;
  padding: 56px 32px 24px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
}

.submit {
  justify-content: center;
}
