.box {
  padding: 64px 42px 72px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
  padding-bottom: 192px;
  padding-top: 64px;
  gap: 32px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 3;
}

@media (max-width: 580px) {
  .box {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-template-rows: 1fr;
    padding: 52px 18px 128px;
  }
}
