.box {
  padding: 48px 48px 72px;
}

.trackers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
  width: 100%;
  gap: 32px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 2;
}

@media (max-width: 580px) {
  .box {
    padding: 64px 24px 128px;
  }

  .trackers {
    grid-template-rows: 1fr;
  }
}
