.box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 8px;
  padding: 8px 24px 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background: var(--control-background);
  box-shadow: var(--button-shadows-hover);
  color: var(--main-text);
  text-transform: capitalize;
}

.box:hover {
  background-color: var(--hover-control-background);
  transition: all 0.1s ease 0.1s;
}

.box:active {
  background-color: var(--active-control-background);
  transition: all 0.2s ease 0.1s;
  box-shadow: var(--light-inner-shadow);
  transform: scale(0.97) translateY(-0.4px);
}

.box svg {
  height: 20px;
  width: 20px;
}

.iconBox {
  box-shadow: var(--light-button-shadows);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}
