.box {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 8px;
  padding: 8px 24px 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  background: var(--button-background);
  box-shadow: var(--button-shadows);
  color: var(--main-text);
}

.box:hover {
  box-shadow: var(--button-shadows-hover);
}

.box:active {
  box-shadow: var(--button-inner-shadows);
}

.box svg {
  height: 20px;
  width: 20px;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
}
