.box {
  height: 100%;
  background-color: #9575de;
  border-radius: 12px;
  display: flex;
  position: relative;
}

.form {
  width: 100%;
  align-self: center;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
}
