* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style-type: none;
}

a {
  color: #609ea2;
}

:root {
  background: #332c39;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

button:not(:last-of-type) {
  margin-right: 6px;
}
