.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: var(--main-text);
}

.label {
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 400;
}

.value {
  font-size: 18px;
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 12px;
}
